.user-icon {
  height: 45px;
  width: 45px;
  color: rgb(255, 107, 114, 01);
  border: 1px solid #ff6b72;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.5;
}
.user-icon:hover {
  color: #fff;
}
